@media screen and (max-width:450px)  {

.judul{
    font-size: 1.5rem;
}

.judul p{
    font-size: 1rem;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-top: .2rem;
    font-weight: 200;
}

.main-container{
        width: 100%;
        margin: 0 auto;
  }
  
.burger{
    display: block;
    cursor: pointer;
    top: 4.2%;
    transform: translateY(-50%);
    padding-bottom: .9rem;
    position: fixed;
}

.burger div{
    background-color: white;
}


.toogle-burger .line-1{
    transform: rotate(-45deg) translate(-5px, 7px);
}

.toogle-burger .line-2{
    opacity: 0;
}

.toogle-burger .line-3{
    transform: rotate(45deg) translate(-5px, -7px);
}

.bg .logo1{
    background-color: #0e4e92bd;
    display: flex;
    backdrop-filter: blur(2px);
    position: fixed;
    width: 100%;
}

nav{
    position: fixed;
    display: flex;
    width: 50%;
    top: 0;
    right: 0;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(19, 20, 78, 0.226);
    z-index: 9;
    transform: translateX(150%);
    transition: .4s ease-in-out;
    backdrop-filter: blur(10px);
}

nav ul{
    height: 100%;
    margin-left: 2rem;
    align-items: center;
    flex-direction: column;
    margin-top: 3.5rem;
}

nav ul li a{
    color: white;
}

.nav-active{
    transform: translateX(0);
}

:root{
    --sectionPadding: 4rem 0;
}

.logo1{
    text-align: left;
    color: white;
    padding: 1rem 1.5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.logo{
    margin-top: 3rem;
}


/* isi beranda */
    #isi-beranda{
        padding: 1.5rem 1.5rem;
    }

    .judul-isi{
        text-transform: uppercase;
        text-align: left;
        text-decoration: underline;
        text-decoration-thickness:1px ;
        text-underline-offset: 6px;
        color: grey;
    }

    .judul-isi h1{
        font-weight: 500;
        color: rgba(0, 0, 0, 0.753);
    }

    .judul-isi1{
        text-transform: uppercase;
        margin-top: .5rem;
    }

    .judul-isi1 h2{
        text-align: left;
        color: rgba(0, 0, 0, 0.753);
        font-size: 15px;
    }

    .konten{
        margin-top: .5rem;
    }

    .konten h2{
        color: rgba(0, 0, 0, 0.753);
        font-size: 13px;
        text-align: justify;
    }

    .konten-semua{
        margin-top: 5.5rem;
        text-align: center;
        font-size: 2rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        z-index: 2;
    }
    
    .judul-konten h1, h2{
        padding: 0 .2rem;
        font-weight: 600;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.74);
    }
    
    .gambar{
        margin-top: 1rem;
        padding: 0 1rem;
    }
    .gambar img{
        filter: grayscale(20%);
        height: 100%;
        width: 100%;
        border-radius: 2px;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.15);
    }
    
    .nama {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 1rem;
        max-width: 375px;
        margin-top: 0;
      }
      
      .nama-kiri, .nama-kanan, .nama-tengah {
        width: 45%; /* Supaya tidak terlalu melebar */
      }
      
      .ul {
        list-style-type: none; /* Menghilangkan default bullet */
        padding-left: 0;
        
      }
      
      .li {
        position: relative;
        padding-left: 15px;
        font-size: 7px;
      }
      
      .li::before {
        content: "-";
        position: absolute;
        left: 0;
      }
    
      .wali{
        padding: 2rem 2rem;
      }
    .wali h3{
        padding-left: 1rem;
        font-size: 7px;
        color: black;
        text-align: center;
    }
    
    .wali p {
        padding-left: 1rem;
        font-size: 7px;
        color: black;
        text-align: center;
    }


    /* footer */
    footer{
        background-color: rgba(128, 128, 128, 0.219);
        padding: .8rem .8rem;
        color: rgba(0, 0, 0, 0.411);
    }

    footer h1{
        text-align: center;
        font-size: .7rem;
        margin-left: 20px;
    }

    footer p{
        text-align: center;
        font-size: .7rem;
    }
  
}